@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body{
    background-color: rgb(255, 255, 255);
}


.title-main {
  font-size: 30px;
  font-family: "Roboto";
  text-align: center; /* Centrar el texto */
  margin-top: 20px;
  width: 600px;
  margin-left: 25px;
}

.title-main2 {
  font-size: 30px;
  font-family: "Roboto";
  text-align: center; /* Centrar el texto */
  margin-top: 20px;
  width: 600px;
  margin-left: 25px;
}

.container-main {
  width: 650px; /* Ancho de 330px */
  height: 550px; /* Alto de 320px */
  border-radius: 10px; /* Añadir bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.562); /* Añadir sombra */
  overflow: hidden; /* Ocultar el desbordamiento */
  margin-left: 210px;
  margin-top: 200px;
  display: flex; /* Hacer que el contenedor de la tarjeta sea un flexbox */
  flex-direction: column; /* Alinear los elementos de arriba a abajo */
  justify-content: center; /* Centrar verticalmente los elementos */
}

.section-image-main {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100px; /* Ajustar la altura de la sección al 100% del viewport */
}

.section-image-content {
  text-align: center; /* Centrar la imagen */
}

.button-main2{
  width: 300px;
  text-align: center;
  margin-left: 180px;
  margin-top: 105px;
}
.button-main {
    width: 300px;
    text-align: center;
    margin-left: 168px;
    margin-top: 5px;
  }

  .primary-button:hover {
    background-color: rgb(34, 125, 153);
    box-shadow: 0 0 10px rgb(113, 245, 245); /* Ajusta los valores según sea necesario */
  }
  
  .columna-login {
    display: flex; /* Usa flexbox para alinear los elementos en una fila */
    flex-direction : row;
    
  }
  
  
  

  .primary-button {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 100px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;

  }
.image-text{
    margin-top: 230px;
}
.image-icon {
    position: fixed; /* Fija el contenedor en la ventana del navegador */
    top: 0; /* Lo sitúa en la parte superior */
    left: 0; /* Lo sitúa en la parte izquierda */
    margin-left: 760px;
    margin-top: 230px;
    height: 476px;
    width: 472px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Coloca el contenedor detrás de los demás elementos */
    opacity: 40%;
  }

.empresa{
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 600;
  margin-bottom: 10px; /* Espacio inferior */
  margin-right: 400px;
}

.columna-empresa {
  display: flex;
  flex-direction: column;
  
}

.columna-prospectiva {
  display: flex;
  flex-direction: column;
  margin-left: 400px;
  
}

.icon-twiter{
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
  
}
.icon-linkein {
  width: 40px;
  height: 40px;
  padding-left: 30px;
  margin-bottom: 35px;
} 

.texto-prospectiva{
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 600;
  margin-bottom: 20px; /* Espacio inferior */
}

.textos-empresa {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  margin-bottom: 5px; /* Espacio inferior */
  padding-top: 7px;
}